{% extends "demo_exam/demo_exam_template.html" %}
{% load static %}

{% block demo_exam_lib %}
  <a class="demo_exam__chapter demo_exam__chapter_active" href="{% url 'demo_exam_library' %}">Библиотека</a>
{% endblock %}

{% block demo_exam_content %}
  <div class="demo_exam__categories">
    {% for category in categories %}
    <div class="demo_exma_category">
      <div class="category">
        <p class="category__title">{{ category.title }}</p>
        <a class="category__link" href="{% url 'demo_exam_library_item' pk=category.pk %}">Материалы</a>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
