{% extends "demo_exam/demo_exam_template.html" %}
{% load static %}

{% block modules %}
  <div class="demo_exam__chapter demo_exam__chapter_active">Модули демо-экзамена
    <a class="demo_exam__subchapter" href="{% url 'demo_exam_montage' %}">Монтаж</a>
    <a class="demo_exam__subchapter" href="{% url 'demo_exam_programming' %}">Программирование</a>
    <a class="demo_exam__subchapter" href="{% url 'demo_exam_troubleshooting' %}">Поиск неисправностей</a>
  </div>
{% endblock %}

{% block demo_exam_content %}
  {% for content in contents %}
    <p class="demo_exam__subject">{{ content.title }}</p>
    <p class="demo_exam_paragraph">{{ content.content }}</p>
  {% endfor %}
{% endblock %}
