{% extends "demo_exam/demo_exam_template.html" %}
{% load static %}

{% block demo_exam_dates %}
  <a class="demo_exam__chapter demo_exam__chapter_active" href="{% url 'demo_exam_dates' %}">Сроки проведения</a>
{% endblock %}

{% block demo_exam_content %}
  <div class="calendar">
    <div class="calendar__info"><i class="calendar__icon fas fa-chevron-left" id="calendar_left"></i><i class="calendar__icon fas fa-chevron-right" id="calendar_right"></i>
      <div class="calendar__month_title" id="month_title"></div>
    </div>
    <div class="calendar__content" id="calendar">
    </div>
  </div>
{% endblock %}
