{% extends "base.html" %}
{% load static %}

{% block header_demo_exam %}
  <li class="header__item">
    <a class="header__link_active" href="{% url 'demo_exam' %}">Демонстрационный экзамен</a>
  </li>
{% endblock %}

{% block content %}
    <div class="content">
      <section class="demo_exam">
        <p class="demo_exam__title">Демонстрационный экзамен</p>
        <div class="demo_exam__block">
          <div class="demo_exam__sidebar">
            {% block demo_exam_info %}
              <a class="demo_exam__chapter" href="{% url 'demo_exam' %}">Информация</a>
            {% endblock %}
            {% block demo_exam_doc %}
              <a class="demo_exam__chapter" href="{% url 'demo_exam_doc' %}">Документация</a>
            {% endblock %}
            {% block demo_exam_lib %}
              <a class="demo_exam__chapter" href="{% url 'demo_exam_library' %}">Библиотека</a>
            {% endblock %}
            {% block demo_exam_dates %}
              <a class="demo_exam__chapter" href="{% url 'demo_exam_dates' %}">Сроки проведения</a>
            {% endblock %}
            {% block demo_exam_res %}
              <a class="demo_exam__chapter" href="{% url 'demo_exam_results' %}">Лучшие результаты</a>
            {% endblock %}
            {% block modules %}
              <div class="demo_exam__chapter">Модули демо-экзамена
                <a class="demo_exam__subchapter" href="{% url 'demo_exam_results' %}">Монтаж</a>
                <a class="demo_exam__subchapter" href="{% url 'demo_exam_results' %}">Программирование</a>
                <a class="demo_exam__subchapter" href="{% url 'demo_exam_results' %}">Поиск неисправностей</a>
              </div>
            {% endblock %}
          </div>
          <div class="demo_exam__content">
            {% block demo_exam_content %}
            {% endblock %}
          </div>
        </div>
      </section>
    </div>
{% endblock %}
