{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="content">
      <div class="course_projects">
        <div class="course_projects__title">Курсовые и дипломные проекты</div>
        {% for course_project in course_projects %}
        <div class="course_projects__content"><a class="course_projects__card" href="{% url 'course_project' pk=course_project.pk %}">
                  <div class="course_project_card">
                    <div class="course_project_card__inner">
                      <div class="course_projects_card__block">
                        <p class="course_project_card__course">{{ course_project.course.number }} курс</p><img class="course_project_card__img" src="{{ course_project.image.url }}">
                      </div>
                      <p class="course_project_card__title">{{ course_project.title }}</p>
                      <p class="course_project_card__description">{{ course_project.subtitle }} </p>
                    </div>
                  </div></a>
        </div>
        {% endfor %}
      </div>
      <section class="pagination"><a class="pagination__button pagination__button_active" href="href">1</a><a class="pagination__button" href="href">2</a><a class="pagination__button" href="href"><i class="fas fa-chevron-right"></i></a></section>
    </div>
{% endblock %}
