{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="content">
      <section class="authorization">
        <div class="authorization__inner_box">
          <form class="authorization__form" method="POST">
            <div class="authorization__title">Регистрация</div>

            <div class="authorization__input_container">
              <label class="authorization__label" for="{{ form.email.auto_id }}">{{ form.email.label }}</label>
              <div class="authorization__input_block">
                {{ form.email }}
              </div>
              {% for error in form.email.errors %}
                <p class="authorization__error_msg">{{ error|escape }}</p>
              {% endfor %}
            </div>

            <div class="authorization__input_container">
              <label class="authorization__label" for="{{ form.username.auto_id }}">{{ form.username.label }}</label>
              <div class="authorization__input_block">
                {{ form.username }}
              </div>
              {% for error in form.username.errors %}
                <p class="authorization__error_msg">{{ error|escape }}</p>
              {% endfor %}
            </div>

            <div class="authorization__input_container">
              <label class="authorization__label" for="{{ form.full_name.auto_id }}">{{ form.full_name.label }}</label>
              <div class="authorization__input_block">
                {{ form.full_name }}
              </div>
              {% for error in form.full_name.errors %}
                <p class="authorization__error_msg">{{ error|escape }}</p>
              {% endfor %}
            </div>

            <div class="authorization__input_container">
              <label class="authorization__label" for="{{ form.course_num.auto_id }}">{{ form.course_num.label }}</label>
              <div class="authorization__input_block">
                {{ form.course_num }}
              </div>
              {% for error in form.course_num.errors %}
                <p class="authorization__error_msg">{{ error|escape }}</p>
              {% endfor %}
            </div>

            <div class="authorization__input_container">
              <label class="authorization__label" for="{{ form.password.auto_id }}">{{ form.password.label }}</label>
              <div class="authorization__input_block">
                {{ form.password }}
                <i class="authorization__input_icon fas fa-eye" id="{{ form.password.auto_id }}"></i>
              </div>
              {% for error in form.password.errors %}
                <p class="authorization__error_msg">{{ error|escape }}</p>
              {% endfor %}
            </div>

            <div class="authorization__input_container">
              <label class="authorization__label" for="{{ form.password2.auto_id }}">{{ form.password2.label }}</label>
              <div class="authorization__input_block">
                {{ form.password2 }}
                <i class="authorization__input_icon fas fa-eye" id="{{ form.password2.auto_id }}"></i>
              </div>
              {% for error in form.password2.errors %}
                <p class="authorization__error_msg">{{ error|escape }}</p>
              {% endfor %}
            </div>

            {% csrf_token %}

            <button class="authorization__button" type="submit">Войти</button>
          </form>
        </div>
      </section>
    </div>
{% endblock %}
