{% extends "base.html" %}

{% load bbcode_tags %}
{% bbcode entry.bbcode_content %}
{% load static %}
{% load sorl_thumbnail %}

{% block header_students %}
  <li class="header__item">
    <a class="header__link_active" href="{% url 'students' %}">Лучшие студенты</a>
  </li>
{% endblock %}

{% block content %}
  <div class="content">
    <section class="students">
      <div class="students__title">Студенты</div>
      <div class="students__content">
        {% for student in students %}
          <div class="students__cardf">
            <a class="student_card" href="{% url 'student' pk=student.pk %}">
                {% thumbnail student.image "374x433" crop="center" as im %}
                  <div class="student_card__inner_block"><img class="student_card__img" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                {% endthumbnail %}
                <p class="student_card__name">{{ student.full_name|bbcode|safe }}</p>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </section>
    <section class="pagination">
      {% if page_obj.has_previous %}
      <a class="pagination__button" href="{% url 'students' %}?page={{ page_obj.number|add:'-1' }}"><i class="fas fa-chevron-left"></i></a>
      {% endif %}

      {% with '-3 -2 -1 0 1 2 3' as list %}
        {% for item in list.split %}

          {% if page_obj.number == page_obj.number|add:item %}
            <a class="pagination__button pagination__button_active" href="{% url 'students' %}?page={{ page_obj.number|add:item }}">{{ page_obj.number }}</a>
          {% elif 1 <= page_obj.number|add:item and page_obj.paginator.num_pages >= page_obj.number|add:item %}
              <a class="pagination__button" href="{% url 'students' %}?page={{ page_obj.number|add:item }}">{{ page_obj.number|add:item }}</a>
          {% endif %}

        {% endfor %}
      {% endwith %}

      {% if page_obj.has_next %}
        <a class="pagination__button" href="{% url 'students' %}?page={{ page_obj.number|add:'1' }}"><i class="fas fa-chevron-right"></i></a>
      {% endif %}
    </section>
  </div>
{% endblock %}
