{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="content">
      <section class="authorization">
        <div class="authorization__inner_box">
          <form class="authorization__form" method="POST">
            <div class="authorization__title">Войти</div>
            <div class="authorization__input_container">
              <label class="authorization__label" for="email">E-mail</label>
              <div class="authorization__input_block">
                <input class="authorization__input" type="text" id="email" placeholder="mail@gmail.com">
              </div>
            </div>
            <div class="authorization__input_container">
              <label class="authorization__label" for="email">Пароль</label>
              <div class="authorization__input_block">
                <input class="authorization__input" type="password" id="password" placeholder="******"><i class="authorization__input_icon fas fa-eye" id="password"></i>
              </div>
            </div>
            <button class="authorization__button">Войти</button>
          </form>
        </div>
      </section>
    </div>
{% endblock %}
