{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="content">
      <section class="profile">
        <div class="profile__top_info">
          <div class="profile__title_block">
            <p class="profile__title">О нас</p>
            <p class="profile__subtitle">Здесь вы сможете ознакомиться с нашими контактами</p>
          </div>
          <div class="profile__info"><img class="profile__img" src="{{ about_us.image.url }}">
            <div class="profile__short_info">
              <p class="profile__name">Контактная информация</p>

                {% if about_us.email %}
                <div class="profile__contact_block">
                  <i class="profile__big_icon fas fa-envelope fa-2x"></i>
                  <i class="profile__small_icon fas fa-envelope fa-1x"></i>
                  <div class="profile__contact">{{ about_us.email }}</div>
                </div>
                {% endif %}
                {% if about_us.phone %}
                <div class="profile__contact_block">
                  <i class="profile__big_icon fas fa-phone fa-2x"></i>
                  <i class="profile__small_icon fas fa-phone fa-1x"></i>
                  <div class="profile__contact">{{ about_us.phone }}</div>
                </div>
                {% endif %}
                {% if about_us.location %}
                <div class="profile__contact_block">
                  <i class="profile__big_icon fas fa-map-marker-alt fa-2x"></i>
                  <i class="profile__small_icon fas fa-map-marker-alt fa-1x"></i>
                  <div class="profile__contact">{{ about_us.location }}</div>
                </div>
                {% endif %}
                {% if about_us.vkontakte %}
                <div class="profile__contact_block">
                  <i class="profile__big_icon fab fa-vk fa-2x"></i>
                  <i class="profile__small_icon fab fa-vk fa-1x"></i>
                  <div class="profile__contact">{{ about_us.vkontakte }}</div>
                </div>
                {% endif %}


            </div>
          </div>
        </div>
        <div class="profile_bottom_info">
          <div class="profile__description_title">Описание</div>
          <div class="profile__description">{{ about_us.description|bbcode|safe }}</div>
        </div>
      </section>
    </div>
{% endblock %}
