{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="content">
      <section class="main">
        <h1 class="main__text">МОНТАЖ, НАКЛАДКА И ЭКСПЛУАТАЦИЯ <br>ЭЛЕКТРООБОРУДОВАНИЯ В ПРОМЫШЛЕННЫХ<br>И ГРАЖДАНСКИХ ЗДАНИЯХ</h1><a class="main__link" href="{% url 'about_us' %}">Подробнее</a>
      </section>
      <section class="preview_news">
        <p class="preview_news__title">Новости</p>
        <div class="preview_news__content">
        {% for news_item in news %}
          <div class="preview_news__card">
            <a class="news_card" href="{% url 'news_item' pk=news_item.pk %}">
              <div class="news_card__inner"><img class="news_card__img" src="{{ news_item.preview_image.url }}">
                <p class="news_card__title">{{ news_item.title|truncatechars:26 }}</p>
                <p class="news_card__description">{{ news_item.preview_text|truncatechars:180 }}</p>
              </div>
            </a>
          </div>
        {% endfor %}
        </div>
        <a class="preview_news__link" href="{% url 'news' %}">Больше новостей</a>
      </section>
      <section class="contacts">
        <div class="contacts__box">
          <div class="contacts__first_title">Наши контакты</div>
          <div class="contacts__block">
            <div class="contacts__inner_border">
              <div class="contacts__second_title">Наши контакты</div>
              <div class="contacts__list">
                      <div class="contacts__item">
                        <div class="contacts__big_icon"><i class="fas fa-map-marker-alt contacts__icon fa-2x"></i></div>
                        <div class="contacts__small_icon"><i class="fas fa-map-marker-alt contacts__icon fa-1x"></i></div>
                        <div class="contacts__text">г. Ижевск, ул. Пионерская 65к7</div>
                      </div>
                      <div class="contacts__item">
                        <div class="contacts__big_icon"><i class="fas fa-phone contacts__icon fa-2x"></i></div>
                        <div class="contacts__small_icon"><i class="fas fa-phone contacts__icon fa-1x"></i></div>
                        <div class="contacts__text">+ 7 (926) 843-98-98</div>
                      </div>
                      <div class="contacts__item">
                        <div class="contacts__big_icon"><i class="fas fa-envelope contacts__icon fa-2x"></i></div>
                        <div class="contacts__small_icon"><i class="fas fa-envelope contacts__icon fa-1x"></i></div>
                        <div class="contacts__text">montazhschool@gmail.com</div>
                      </div>
                      <div class="contacts__item">
                        <div class="contacts__big_icon"><i class="fas fa-clock contacts__icon fa-2x"></i></div>
                        <div class="contacts__small_icon"><i class="fas fa-clock contacts__icon fa-1x"></i></div>
                        <p class="contacts__text" style="width: 231px">Режим работы: <br/> Пн-пт: 10:00-19:00 <br/> Сб:     0:00-17:00 <br/> Вс: выходной</p>
                      </div>
              </div>
            </div>
          </div>
          <div class="contacts__map">
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A6113afee64d2b63aeed91f2ced0869c244e17fa55a247a2c715e5342dfbfe20a&amp;amp;width=100%&amp;amp;height=100%&amp;amp;lang=ru_RU&amp;amp;scroll=true"></script>
          </div>
        </div>
      </section>
    </div>
{% endblock %}
